.parentDiv {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

#CapturedTitle {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 12%;
    background: #0251A0;
    text-align: center;
}

#CapturedTitle > #Back {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 15%;
    height: 100%;
    display: table;
}

#CapturedTitle > #Back:active {
    opacity: .70;
}

#CapturedTitle > #Back > div {
    display: table-cell;
    vertical-align: middle;
}

#CapturedTitle > #Back > div > img {
    width: 50%;
    height: auto;
}

#CapturedTitle > #Title {
    position: absolute;
    top: 0%;
    margin-top: 0%;
    left: 10%;
    width: 85%;
    height: 100%;
    text-align: center;
    display: table;
}

#CapturedTitle > #Title > h2 {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 6vw;
}

#CapturedTitle > .doneBttn {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 15%;
    height: 100%;
    display: table;
}

#CapturedTitle > .doneBttn > div {
    display: table-cell;
    vertical-align: middle;
}

/*#CapturedTitle > #Back > div > img {
    width: 50%;
    height: auto;
}
*/
#processed{
    position: absolute;
    top: 12%;
    left: 0;
    width: 100%;
    height: 88%; 
}
#unProcessed {
    position: absolute;
    top: 12%;
    left: 0;
    width: 100%;
    height: 88%;
    /*background: #E4E4E4;*/
    background: url(../images/bkg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
}

#listText {
    position: absolute;
    color: black;
    top: 12%;
    left: 25%;
    font-size: 5.5vw;
}

pre {
    position: absolute;
    top: 20%;
    left: 30%;
    color: black;
    font-size: 3.5vw;
}

#expenseDetail {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /*overflow-x: hidden;*/
    overflow: auto;
    background: url(../images/bkg1.jpg);
    background-size: 19%;
    background-repeat: repeat-y;
}

#expenseDetail > .expenseRow > .GroupTitle {
    position: relative;
    margin: 0px;
}

#expenseDetail > .expenseRow > .GroupTitle > * {
    display: inline-block;
    margin: 0px;
}

#expenseDetail > .expenseRow > .GroupTitle > div {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #231f20;
    margin-top: 4.5%;
}

#expenseDetail > .expenseRow > .GroupTitle > p {
    margin-top: 2.5%;
    position: relative;
    background: #84B057;
    color: white;
    width: 150px;
    text-align: center;
    padding: 2px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 0px;
    margin-left: 20%;
}

#expenseDetail > .expenseRow > .Group {
    position: relative;
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    /*padding-top: 7px;*/
}

#expenseDetail > .expenseRow > .GroupBorder {
    border-bottom: 1px solid #d3d3d3;
}

#expenseDetail > .expenseRow > .Group > div {
    display: inline-block;
    vertical-align: middle;
}

#expenseDetail > .expenseRow > .Group > .demoInfo {
    width: 15%;
    padding-top: 4%;
}

#expenseDetail > .expenseRow > .Group > .demoInfo > img {
    padding-top: 5%;
    margin-top: 0px;
    line-height: 50%;
    width: 100%;
    background: #067FF2;
}

#expenseDetail > .expenseRow > .Group > #ExpenseDesc {
    left: 18%;
    width: 45%;
    height: auto;
    padding-top: 5%;
    vertical-align: middle;
}

#expenseDetail > .expenseRow > .Group > #ExpenseDesc > p {
    font-size: 4vw;
    color: black;
    padding: 0px;
    padding-left: 27.5px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin-top: 0px;
}

#expenseDetail > .expenseRow > .Group > #ExpenseImg {
    left: 47%;
    width: 8%;
    height: auto;
    padding-top: 5.7%;
    vertical-align: middle;
}

#expenseDetail > .expenseRow > .Group > #ExpenseImg > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#expenseDetail > .expenseRow > .Group > #ExpensePrice {
    padding-top: 8%;
    width: 25%;
    vertical-align: middle;
    float: right;
}

#expenseDetail > .expenseRow > .Group > #ExpensePrice > p {
    float: right;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 3vw;
    display: table-cell;
    background: #0270D7;
    color: white;
    margin-right: 5px;
    border: 1px solid #0f0000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#backBtn {
    position: absolute;
    top: 90%;
    left: 11%;
    width: 8%;
    height: auto;
}
