dropdown2 {
    float: left;
    display: block;
    width: 250px;
    z-index: 2; 
}

dropdown2 > div {
    float: left;
    width: 100%;
}

dropdown2 > div > div.dropdown2-display {
    position: fixed;
    width: 10%;
    background: #F0F1F3;
    height: 5%;
    cursor: pointer;
    border: solid 1px #dddddd;
    box-sizing: border-box;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    /*margin-top: 3px;*/
   
}

dropdown2 > div > div.dropdown2-display > * {
    float: left;
    height: 100%;
    height: 5%;
    line-height: 30px !important;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}

dropdown2 > div > div.dropdown2-display > span {
   /* font-size: 2.5vw;*/
    width: 100%;
    margin-top: 0px;
    /*



    */
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 4%;
    padding-top: 2%;
    /*padding: .5%;*/
}

dropdown2 > div > div.dropdown2-display > span.placeholder {
    color: #aaaaaa;
}

dropdown2 > div > div.dropdown2-display > i {
    position: relative;
    width: 14px;
    margin-left: -24px;
    font-size: 2.7vw;
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
    margin-top: 0px;
}

dropdown2 > div > div.dropdown2-list {
    /*background-color: red;*/
    float: left;
    position: relative;
    width: 100%;
    /*padding-left: 10px;*/
    transform: scale(1, 0);
    -webkit-transform: scale(1, 0);
    transition: transform ease 250ms;
    -webkit-transition: -webkit-transform ease 250ms;
    text-align: center;
}

dropdown2 > div > div.dropdown2-list > div {
    position: fixed;
    width: 100%;
    z-index: 4;
    cursor: pointer;
    background: white;
    margin-top: 9%;
}

dropdown2 > div > div.dropdown2-list > div > div {
    float: left;
    width: 100%;
   
    box-sizing: border-box;
    border: solid 1px #dddddd;
    border-top: none;
    text-align: center;
}

dropdown2 > div > div.dropdown2-list > div > div:hover {
    background: #F0F0F0;
}

dropdown2 > div > div.dropdown2-list > div > div.selected {
    background: #2875c7;
    color: white;
}

dropdown2 > div > div.dropdown2-list > div > div > * {
    height: 5%;
   /* margin-top: 0px*/
    line-height: 27px !important;
    display: inline-block;
    font-size: 4.2vw;
    vertical-align: middle;
}

dropdown2 > div > div.dropdown2-list > div > div > span {
    float: left;
    width: 100%;
    position: relative;
    padding-right: 30px;
    box-sizing: border-box;
    color: inherit;
}

dropdown2 > div > div.dropdown2-list > div > div > i {
    float: left;
    width: 20px;
    margin-left: -20px;
    display: none;
}

dropdown2 > div > div.dropdown2-list > div > div.selected > i {
    display: inline-block;
}

dropdown2 > div.show > div.dropdown2-list {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}
