header {
    position: absolute;
    padding-bottom: 3%;
    top: 0%;
    height: 9%;
    left: 0px;
    width: 100%;
    color: white;
    background: #0251A0;
    text-align: center;
    font-size: 4vw;
    font-family: sans-serif;
    font-weight: normal;
}

#Overley {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.Overley {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.Overley > #datePicker{
    position:absolute;
    top:20%;
    left:10%;
    width:80%;
    height: 60%;
   
}
.Overley > #datePicker > #hideBox{
    position:absolute;
    top:-3%;
    left:0%; 
    width:97.8%;
    height: 10%;
    font-size: 5vw;
    color: white;
    z-index: 10;
    padding-top:1%;
    padding-left: 3%;
    /*background: red;*/
    background: #05A2FB;
}

.Overley > #datePicker > #date1{
    position: absolute;
    top: 0%;
    left: 5%;
    visibility: hidden;  
}

#expenseCode {
    position: absolute;
    background-color: white;
    left: 6%;
    top: 15%;
    height: 60%;
    width: 88%;
}
#expenseBack{
    position: absolute;
    top:70%;
    left:0%;
    width:100%;
    height:28%;
}
#topExpenseBack{
    position: absolute;
    top:0%;
    left:0%;
    width:100%;
    height:15%;
}
#leftExpenseBack{
    position: absolute;
    top:0%;
    left:0%;
    width:5%;
    height:80%;
}
#rightExpenseBack{
    position: absolute;
    top:0%;
    left:95%;
    width:5%;
    height:80%;
}

.Overley > #topDatePickerHide{
    position: absolute;
    top:0%;
    left:0%;
    width:100%;
    height:10%;
}
.Overley > #leftDatePickerHide{
    position: absolute;
    top:0%;
    left:0%;
    width:8%;
    height:80%;
}
.Overley > #rightDatePickerHide{
    position: absolute;
    top:0%;
    left:92%;
    width:8%;
    height:80%;
}
.Overley > #bottomDatePickerHide{
    position: absolute;
    top:75%;
    left:0%;
    width:100%;
    height:25%;
}


#codeText {
    position: absolute;
    color: black;
    font-size: 5vw;
    padding-top: 6%;
    left: 20%;
}

#calender {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 6%;
    font-size: 3.5vw;
}


#Airfare {
    position: absolute;
    top: 18%;
    left: 4%;
    height: 16%;
    width: 18%;
    border-radius: 6px;
    border: 3px solid #0375DF;
    background-color: #067FF2;
    -webkit-box-shadow: 0 6px 6px 0px grey;
    -moz-box-shadow: 0 6px 6px 0px grey;
    box-shadow: 0 6px 6px 0px grey;
}

#Airfare img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#Airfaretext {
    position: absolute;
    top: 35%;
    left: 7%;
    font-size: 3vw;
}

#CarRental {
    position: absolute;
    top: 18%;
    left: 29%;
    height: 16%;
    width: 18%;
    border-radius: 6px;
    border: 3px solid #0375DF;
    background-color: #067FF2;
    -webkit-box-shadow: 0 6px 6px 0px grey;
    -moz-box-shadow: 0 6px 6px 0px grey;
    box-shadow: 0 6px 6px 0px grey;
}

#CarRental img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#CarRentaltext {
    position: absolute;
    top: 35%;
    left: 31%;
    font-size: 3vw;
}

#Lodging {
    position: absolute;
    top: 18%;
    left: 53%;
    height: 16%;
    width: 18%;
    border-radius: 6px;
    border: 3px solid #0375DF;
    background-color: #067FF2;
    -webkit-box-shadow: 0 6px 6px 0px grey;
    -moz-box-shadow: 0 6px 6px 0px grey;
    box-shadow: 0 6px 6px 0px grey;
}

#Lodging img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#Lodgingtext {
    position: absolute;
    top: 35%;
    left: 56%;
    font-size: 3vw;
}

#Meals {
    position: absolute;
    top: 18%;
    left: 77%;
    height: 16%;
    width: 18%;
    border-radius: 6px;
    border: 3px solid #0375DF;
    background-color: #067FF2;
    -webkit-box-shadow: 0 6px 6px 0px grey;
    -moz-box-shadow: 0 6px 6px 0px grey;
    box-shadow: 0 6px 6px 0px grey;
}

#Meals img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#Mealstext {
    position: absolute;
    top: 35%;
    left: 82%;
    font-size: 3vw;
}

#Mileage {
    position: absolute;
    top: 47%;
    left: 4%;
    height: 16%;
    width: 18%;
    border-radius: 6px;
    border: 3px solid #0375DF;
    background-color: #067FF2;
    -webkit-box-shadow: 0 6px 6px 0px grey;
    -moz-box-shadow: 0 6px 6px 0px grey;
    box-shadow: 0 6px 6px 0px grey;
}

#Mileage img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#Mileagetext {
    position: absolute;
    top: 64%;
    left: 7%;
    font-size: 3vw;
}

#Parking {
    position: absolute;
    top: 47%;
    left: 29%;
    height: 16%;
    width: 18%;
    border-radius: 6px;
    border: 3px solid #0375DF;
    background-color: #067FF2;
    -webkit-box-shadow: 0 6px 6px 0px grey;
    -moz-box-shadow: 0 6px 6px 0px grey;
    box-shadow: 0 6px 6px 0px grey;
}

#Parking img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#Parkingtext {
    position: absolute;
    top: 64%;
    left: 32%;
    font-size: 3vw;
}

#PerDiem {
    position: absolute;
    top: 47%;
    left: 53%;
    height: 16%;
    width: 18%;
    border-radius: 6px;
    border: 3px solid #0375DF;
    background-color: #067FF2;
    -webkit-box-shadow: 0 6px 6px 0px grey;
    -moz-box-shadow: 0 6px 6px 0px grey;
    box-shadow: 0 6px 6px 0px grey;
}

#PerDiem img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#PerDiemtext {
    position: absolute;
    top: 64%;
    left: 55%;
    font-size: 3vw;
}

#Tolls {
    position: absolute;
    top: 47%;
    left: 77%;
    height: 16%;
    width: 18%;
    border-radius: 6px;
    border: 3px solid #0375DF;
    background-color: #067FF2;
    -webkit-box-shadow: 0 6px 6px 0px grey;
    -moz-box-shadow: 0 6px 6px 0px grey;
    box-shadow: 0 6px 6px 0px grey;
}

#Tolls img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#Tollstext {
    position: absolute;
    top: 64%;
    left: 82%;
    font-size: 3vw;
}

.expenseDiv{
    position: fixed;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
}
.descTab{
    position: absolute;
    top:12%;
    left:0%;
    width:50%;
    height: 8%;
    color:black;
    /*background: #F0F1F3;*/
    font-size: 3.5vw;
    padding-top: 2%;
}
.descTab > p{
    text-align: center;
    vertical-align: middle;
}
.desc{
    position: absolute;
    top:20%;
    left:10%;
    width:80%;
    height:80%;
    /*background: red;*/
}
.desc > .myImg{
    position: absolute;
    left:0%;
    top:10%;
    width:13%;
    height:7%;
    border-radius: 6px;
    border: 3px solid #0375DF;
    background-color: #067FF2;
    -webkit-box-shadow: 0 6px 6px 0px grey;
    -moz-box-shadow: 0 6px 6px 0px grey;
    box-shadow: 0 6px 6px 0px grey;
}
.desc > .myImg > img{
    position: absolute;
    height: 100%;
    width: 100%;

}
.desc > .iconName{
    position: absolute;
    top:19%;
    left:0%;
    width:15%;
    /*font-size: 3.4vw;*/
}
.desc > .iconName > p{
    font-size: 3.4vw;
    text-align: center;
    vertical-align: middle;
}
.desc > #cameraImg{
    position: absolute;
    top: 28.5%;
    left: 0%;
    width: 12.7%;
    height: 7%;
    border-radius: 6px;
    border: 3px solid #0375DF;
    background-color: #067FF2;
    -webkit-box-shadow: 0 6px 6px 0px grey;
    -moz-box-shadow: 0 6px 6px 0px grey;
    box-shadow: 0 6px 6px 0px grey;
}
.desc > #cameraImg > img{
   /* position: absolute;*/
    padding-top: 10%;
    padding-left: 10%;
    width: 80%;
    height: 80%;
}
.desc > .imgCount {
    display: table;
    position: absolute;
    /*top:0%;*/
    left: 12%;
    top: 27.3%;
    height: 3%;
    width: 5%;
    font-size: 2vw;
    background: green;
    border-radius: 6px;
    color:white;

}
.desc >  #dateField{
    position: absolute;
    top: 9%;
    left: 24%;
    width: 72%;
    height: 6%;
    border-radius: 6px;
    font-size: 3.5vw;
    text-align: center;
 
}
.desc > .imgCount > p{
    width:100%;
    text-align: center;
    vertical-align: middle;
    font-size: 3vw;
    display: table-cell;
}
.desc > .cameraText{

    position: absolute;
    top: 37%;
    left: 0%;
    width: 12%;
    height: 4%;
    /*border-radius: 6px;*/
    font-size: 3.5vw;
   
}
.desc > .cameraText > p{
    width:100%;
     text-align: center;
}

.desc > .amountField{
    position: absolute;
    top:19%;
    left:24%;
    height: 6%;
    width:55%;
    border-radius: 6px;
    font-size: 5vw;
    border: solid 1px #CCCCCC;
}
.desc > .textBox{
    position: absolute;
    top: 30%;
    left: 24%;
    width: 75%;
    height: 40%;
    border-radius: 6px;
    font-size: 4.5vw;
    border: solid 1px #CCCCCC;
    text-transform: capitalize;
}
.desc > .curencyInput{
    position: absolute;
    top: 19%;
    left: 86%;
    width: 14%;
}
.desc > #currencyOptional{
    position: absolute;
    top: 16.5%;
    left: 86%;
    width: 15%;
    height:4%;
    color: black;
    font-size: 4.5vw;
}
.desc > #currencyOptional > p{
    width:100%;
    text-align: center;
}

#text{
    position: absolute;
    top:10%;
    left: 0%;
    width:90%;
    height:60%;
    background-color: #F0F1F3;
    font-size: 3vw;
    font-style: none;
    font-family: sans-serif;
    border-radius: 6px;
    border: 1px solid #CCCCCC;
    color: #212121;
    padding: 5%;
}
.AccountTab{
    position: absolute;
    top:12%;
    left:50%;
    width:50%;
    height: 8%;
    color:black;
    background: #F0F1F3;
    padding-top: 2%;
    font-size: 3vw;
}
.AccountTab > p{
    text-align: center;
    vertical-align: middle;
}
.account{
    position: absolute;
    top:22%;
    left:15%;
    width:70%;
    height:78%;
    /*background: green;*/
    z-index: 10;
}
 .corpName{
    position: absolute;
    top:3%;
    font-size: 4vw;

}
 #infoCorpInput{
    position:absolute;
    top: 9.2%;
    width:100%;
    left:0%;
    z-index: 11;
}
.jobName{
    position: absolute;
    top:44%;
    font-size: 4vw;
}
 #infoJobInput{
    position: absolute;
    top: 50%;
    width:100%;
    left:0%;
    z-index: 8;

}
.account > .entityName{
    position: absolute;
    top:16%;
    font-size: 4vw;
}
.account > #infoEntityInput{
    position:absolute;
    top: 22%;
    width:100%;
    left:0%;
    z-index: 10;
}
.account > .divName{
    position: absolute;
    top:29%;
    font-size: 4vw;
}
.account > #infoDivisionInput{
    position:absolute;
    top: 35%;
    width:100%;
    left:0%;
    z-index: 9;
}
.account > .costName{
    position: absolute;
    top:58%;
    font-size: 4vw;
}
.account > #infoCostInput{
    position: absolute;
    top:64%;
    left:0%;
    width: 100%;
    z-index: 7;
}
.account > #newPro{
    position: absolute;
    top:42%;
    font-size: 4vw;
}
.account > #infoProInput{
    position: absolute;
    top:48%;
    left:0%;
    width: 100%;
    z-index: 7;
}
#Back{
    position: absolute;
    left: 5%;
    top: 3%;
    width: 5%;
    height: auto;
    display: table;
} 

