#setting {
    background: url(../images/bkg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center fixed;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

#setting > #SettingTitle {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 9%;
    font-size: 4vw;
    background: #274DA0;
    text-align: center;
}

#setting > #SettingTitle > #Back {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 15%;
    height: 100%;
    display: table;
}

#setting > #SettingTitle > #Back:active {
    opacity: .70;
}

#setting > #SettingTitle > #Back > div {
    display: table-cell;
    vertical-align: middle;
}

#setting > #SettingTitle > #Back > div > img {
    width: 50%;
    height: auto;
}

#setting > #SettingTitle > #Title {
    position: absolute;
    top: 0%;
    left: 10%;
    width: 85%;
    height: 100%;
    text-align: center;
    display: table;
}

#setting > #SettingTitle > #Title > p {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 4.5vw;
}

#setting > #SettingBody {
    position: absolute;
    top: 9%;
    left: 0%;
    width: 100%;
    height: 91%;
    color: #333333;
}

#setting > #SettingBody > #appVer {
    font-size: 3.5vw;
    top: 3.5%;
    left: 6.5%;
    position: absolute;
}

#setting > #SettingBody > #Version {
    font-size: 3vw;
    top: 8.5%;
    left: 6.5%;
    position: absolute;
}

#setting > #SettingBody > #serverAdd {
    font-size: 3.5vw;
    top: 14.5%;
    left: 6.5%;
    position: absolute;
}

#setting > #SettingBody > #Address {
    font-size: 3vw;
    top: 19%;
    left: 6.5%;
    position: absolute;
}

#serverUpdateBtn {
    position: absolute;
    top: 35%;
    left: 20%;
    height: 6.5%;
    width: 60%;
    font-size: 3.3vw;
    background: -webkit-linear-gradient(#333333, #474747);
    background: -o-linear-gradient(#333333, #474747);
    background: -moz-linear-gradient(#333333, #474747);
    background: linear-gradient(#333333, #474747);
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border: 0px;
    color: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

#serverUpdateBtn:active {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background: -webkit-linear-gradient(#1b61a8, #4d84bb);
    background: -o-linear-gradient(#1b61a8, #4d84bb);
    background: -moz-linear-gradient(#1b61a8, #4d84bb);
    background: linear-gradient(#1b61a8, #4d84bb);
}

#serverUpdateBtn:focus,
#serverUpdateBtn:active {
    outline: 0;
}
