.parentDiv {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.descTab {
    position: absolute;
    top: 12%;
    left: 0%;
    width: 50%;
    height: 9%;
    color: black;
}

.descTab > p {
    margin-top: 3%;
    font-size: 5vw;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
}

.decs {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 80%;
}

.decs > #text {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 90%;
    height: 60%;
    background-color: #F0F1F3;
    font-size: 4.5vw;
    font-style: none;
    font-family: sans-serif;
    border-radius: 6px;
    border: 1px solid #CCCCCC;
    color: #212121;
    padding: 5%;
}

.AccountTab {
    position: absolute;
    top: 12%;
    left: 50%;
    width: 50%;
    height: 8%;
    color: black;
    background: #F0F1F3;
    padding-top: 1%;
    font-size: 4vw;
}

.AccountTab > p {
    margin-top: 3%;
    font-size: 5vw;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
}

.accountLeft {
    top: 22%;
    left: 0%;
    width: 5%;
    height: 78%;
    z-index: 10;
}

.accountRight {
    top: 22%;
    left: 10%;
    width: 80%;
    height: 78%;
    z-index: 10;
}

.account {
    position: absolute;
    top: 22%;
    left: 10%;
    width: 80%;
    height: 78%;
    z-index: 10;
}

.icorpName {
    position: absolute;
    top: 1%;
    font-size: 3.5vw;
}

#corpInput {
    position: absolute;
    top: 5.8%;
    width: 100%;
    left: 0%;
    z-index: 11;
}

.ijobName {
    position: absolute;
    top: 24.5%;
    font-size: 3.5vw;
}

#jobInput {
    position: absolute;
    top: 29.4%;
    width: 100%;
    left: 0%;
    z-index: 9;
}

.account > .ientityName {
    position: absolute;
    top: 36.3%;
    font-size: 3.5vw;
}

.account > #entityInput {
    position: absolute;
    top: 42%;
    width: 100%;
    left: 0%;
    z-index: 8;
}

.account > .idivName {
    position: absolute;
    top: 61.2%;
    font-size: 3.5vw;
}

.account > #divisionInput {
    position: absolute;
    top: 66.2%;
    left: 0%;
    width: 100%;
    z-index: 6;
}

.account > .icostName {
    position: absolute;
    top: 48.5%;
    font-size: 3.5vw;
}

.account > #costInput {
    position: absolute;
    top: 54.1%;
    left: 0%;
    width: 100%;
    z-index: 7;
}

.account > .iproName {
    position: absolute;
    top: 12.5%;
    font-size: 3.5vw;
}

.account > #projectInput {
    position: absolute;
    top: 17.8%;
    width: 100%;
    left: 0%;
    z-index: 10;
}

#btnback {
    position: absolute;
    top: 88.6%;
    left: -1.4%;
    width: 10.4%;
    height: auto;
}
