<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-config" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>CordovaConfig</name>
  <description>Read the name and the version of the app Widget from config.xml and make it available in JS</description>
  <license>MIT</license>
  <keywords>cordova,appname,appversion</keywords>
  <repo>n/a</repo>
  <issue>n/a</issue>

  <js-module name="module" src="www/module.js">
    <clobbers target="cordova.config" />
  </js-module>

  <platform name="android">
    <!-- One works better in VS, the other in Cordova CLI. -->
    <hook type="after_prepare" src="hooks/generatePlatformModule.js" />
    <hook type="before_compile" src="hooks/generatePlatformModule.js" />
  </platform>

  <platform name="ios">
    <!-- The after_prepare event seems to work well for iOS both in VS and in Cordova CLI. -->
    <hook type="after_prepare" src="hooks/generatePlatformModule.js" />
  </platform>
  
  <platform name="windows">
    <hook type="before_compile" src="hooks/generatePlatformModule.js" />  <!-- Works better in VS. -->
    <hook type="pre_package" src="hooks/generatePlatformModule.js" />  <!-- Works better in Cordova CLI. -->
  </platform>

  <engines>
    <engine name="cordova" version=">=3.8.0" />
  </engines>
</plugin>
