<div class="maindiv">
    <header>
        <h2 ng-show="show">Receipt Image {{currImg}} of {{totalImg}}</h2>
        <h2 ng-show="showImgCount">Receipt Image</h2></header>
    <img class="cameraBttn" src="images/camerabtn1.png" alt="CameraBtn" ng-click="takePicture()">
    <img id="btnDlt" ng-repeat="img in images" src="images/cancel.jpg" ng-click="dltFilePopUp(img.Name)" />
  
    <div class="slider {{dir}}" id="imageSliderContainerID"> 
        <img ng-repeat="image in images" class="slide" id="slideID" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{image.Data}}" ng-pinch-zoom style="transform-origin: 0px 0px 0px;" hm-pinch="pinchStart" hm-pinch="pinchEnd" style="z-index: {{images.length - $index}}">
    </div>
    <img id="prev" src="images/back.png" ng-click="prev()" ng-hide="isLeftBtnDisable"/ ng-pinch-zoom hm-pinch="pinchStart" style="transform-origin: 0px 0px 0px;">
    <img id="next" src="images/rightback.png" ng-click="next()" ng-hide="isRightBtnDisable"/ ng-pinch-zoom hm-pinch="pinchStart" style="transform-origin: 0px 0px 0px;">
    <div class="BackBtn" ng-show="showBackBtn" ng-click="back()" on-long-press="back()">
        <img src="images/back.png">
    </div>
</div>
<div class="maindiv" ng-show="viewer">
    <header>
        <h2 ng-show="show">Receipt Image {{currImg}} of {{totalImg}}</h2>
        <h2 ng-show="showImgCount">Receipt Image {{currImg}}</h2></header>
    <img class="cameraBttn" src="images/camerabtn1.png" alt="CameraBtn">
    <img id="btnDlt" src="images/cancel.jpg" />
    <div id="receiptView">
        <div class="slider" id="imageSliderContainerID">
        </div>
        <div class="BackBtn" ng-show="showBackBtn">
            <img src="images/back.png">
        </div>
    </div>
</div>
