<div id="mainPage" ng-click="hideKbd">
    <img id="logo" src="images/slingshot.png" alt="slinghot">
    <!-- <h1 class="text">Slingshot</h1> -->
    <h1 class="capture">{{appName}}</h1>
    <p id="tripInfoText">{{desc}}</p>
    <div class="tripInfoBtn" ng-click="trip()">
        <p id="tripInfo">
            Enter Trip Info
        </p>
        <p id="tripValue" ng-bind-html="tripInfo">
        </p>
    </div>
    <div class="actionBtn" ng-click="file()">
        <p id="actionBtnText">
            File Expenses
        </p>
        <p id="actionBtnValue">
            {{actionBtnExp}}
        </p>
    </div>
    <div id="submitBtn" ng-disabled="isSubmitDisabled" ng-click="submit()">
        <p align="center">
            Submit
        </p>
    </div>
    <div id="text1" ng-hide="hideDues">
        <p>Amount Due You:</p>
    </div>
    <div id="text2" ng-hide="hideDues">
        <p> {{dueCost}} {{currency}} </p>
    </div>
    <div id="ftext1">
        <p>Total Expenses:</p>
    </div>
    <div id="ftext2">
        <p> {{totalCost}} {{currency}}</p>
    </div>
    <div class="Footer" ng-show="showFooter">
        <div id="settingBtn" ng-click="setting()" on-long-press="setting()">
            <div class="BtnImage">
                <div>
                    <img src="images/settings.png">
                    <p>Setting</p>
                </div>
            </div>
        </div>
        <div id="errorBtn" ng-click="errors()" on-long-press="errors()">
            <div class="BtnImage">
                <div>
                    <img src="images/errors.png">
                    <p>Errors</p>
                </div>
            </div>
        </div>
        <a id="webBtn" target="_system" ng-click="web()" on-long-press="web()">
            <div class="BtnImage">
                <div>
                    <img src="images/web.png">
                    <p>Web</p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="OverleyCounter" ng-show="ShowActionCounts">
    <div id="ActionCounts">
        <p>{{expenseCounter}}</p>
    </div>
</div>
