<div id="tripInfoDiv">
       <div id="CapturedTitle">
        <div id="Back" ng-click="onTripInfoTabBack()" on-long-press="onTripInfoTabBack()" ng-show="showBackBtn">
            <div><img src="images/back.png">
            </div>
        </div>
        <div id="Title">
            <h2>Edit trip info</h2>
        </div>
    </div>
    <img class="doneBttn" src="images/donebtn.jpg" alt="DoneBtn" ng-click="saveTripInfoTabData( description, newcorpdata.name, newjobdata.name, newentitydata.name, newdivdata.name, newcostdata.name, newprodata.name)">
    <div class="demoTab">
        <div class="descTab" id="descTab" ng-click="descriptionTabChange()">
            <p> Description</p>
        </div>
        <div class="AccountTab" id="AccountTab" ng-click="accountingTabChange()">
            <p>Accounting</p>
        </div>
        <div class="decs" ng-show="DescShow">
            <textarea id="text" ng-model="description" placeholder="Please enter the reason for your trip or expenditure.Without it, you will not be able to submit your report" style="resize:none" ng-focus="setScroll(false, -28)" ng-blur="setScroll(true, 0)" ng-change="capitalizeFirstLetter(description)"></textarea>
        </div>
        <div class="account" ng-show="AccountShow">
            <label class="icorpName">Corporate Card</label>
            <dropdown id="corpInput" placeholder="Enter Corporate Card" list="CorpCards" selected="newcorpdata" property="name"></dropdown>
            <label class="ijobName">Job </label>
            <dropdown id="jobInput" placeholder="10" list="JobNumbers" selected="newjobdata" property="name"></dropdown>
            <label class="ientityName" ng-hide="BillingDefaults.IsEntityHidden">Entity</label>
            <dropdown id="entityInput" placeholder="10" list="Entities" selected="newentitydata" property="name" ng-hide="BillingDefaults.IsEntityHidden"></dropdown>
            <label class="idivName" ng-hide="BillingDefaults.IsDivisionHidden">Division</label>
            <dropdown id="divisionInput" placeholder="10" list="Divisions" selected="newdivdata" property="name" ng-hide="BillingDefaults.IsDivisionHidden"></dropdown>
            <label class="icostName" ng-hide="BillingDefaults.IsCostCenterHidden">Cost Center</label>
            <dropdown id="costInput" placeholder="10" list="CostCenters" selected="newcostdata" property="name" ng-hide="BillingDefaults.IsCostCenterHidden"></dropdown>
            <label class="iproName" ng-hide="BillingDefaults.IsProjectHidden">Project</label>
            <dropdown id="projectInput" placeholder="10" list="Project" selected="newprodata" property="name" ng-hide="BillingDefaults.IsProjectHidden"></dropdown>
        </div>
        <div class="hideDropDownlistLeft" ng-click="hideList()">
        </div>
        <div class="hideDropDownlistRight" ng-click="hideList()">
        </div>
        <div class="hideDropDownlistBottm" ng-click="hideList()">
        </div>
    </div>
</div>
