<div id="uploadresult">
    <div id="UploadResultTitle">
        <div id="Back" ng-click="back()" on-long-press="back()" ng-show="showBackBtn">
            <div><img src="images/back.png">
            </div>
        </div>
        <div id="Title">
            <p>Action Posting Results</p>
        </div>
    </div>
    <div id="UploadResultBody">
        <div class="UploadResultRow" ng-repeat="uploadResult in uploadResults" ng-click="chkDetail()" on-long-press="chkDetail()">
            <div id="UploadResultDescr"><img src="images/denied.png" id="DocStatus">
                <p id="ErrorDesc">{{uploadResult.ExpenseDescription}}</p>
                <p id="ErrorBtn">ERROR ></p>
            </div>
            <div id="UploadResultMsg">
                <p>{{uploadResult.ErrMessage}}</p>
            </div>
        </div>
    </div>
</div>
